.bg{
  &-color{
    &-fa{
      background:#fafafa;
    }
    &-fff{
      background:#fff;
    }
    &-ff4d6b{
      background:#ff4d6b;
    }
    &_666{
      background:#666;
    }
    &-fff0f2{
      background:#fff0f2;
    }
  }
}