.flex {
    display: flex;
    &-1 {
        flex: 1;
    }
}

.justify {
    &-between {
        justify-content: space-between;
    }
}

.align {
    &-items {
        &-center {
            align-items: center;
        }
    }
}