.width {
    &_80 {
        width: 80px;
    }
    &_160 {
        width: 160px;
    }
    &_248 {
        width: 248px;
    }
    &_342 {
        width: 342px;
    }
    &_640 {
        width: 640px;
    }
    &_680 {
        width: 680px;
    }
    &_750 {
        width: 750px;
    }
    &-b {
        &_100 {
            width: 100%;
        }
    }
}